##### Question No. 1

In [24]:
'''Write a program to convert specified days into years, weeks and days.
Take user input.
Note: Ignore leap year.'''
days = int(input("enter the numbers of Days ="))
years = days // 365
rem_days = days % 365
weeks = rem_days // 7
day = rem_days % 7
print("Years : ",years,"Weeks : ",weeks,"Days : ",day)

enter the numbers of Days = 740

Years :  2 Weeks :  1 Days :  3

##### Question No. 2

In [40]:
'''
Write a Python program to input basiPython salary of an employee and
calculate its Gross salary according to following:
Basic Salary <= 10000 : HRA = 20%, DA = 80%
Basic Salary <= 20000 : HRA = 30%, DA = 90%
Basic Salary > 20000 : HRA = 35%, DA = 95%
'''
basic_sal = int(input("Enter your basic salary amount"))
if basic_sal <= 10000:
    hra = 0.20 * basic_sal
    print("HRA amount = ",hra)
    da = 0.80 * basic_sal 
    print("DA amount = ",da)
    total_sal = basic_sal + hra + da
    print("Your salary after adding HRA and DA = ",total_sal)

elif basic_sal <= 20000:
    hra = 0.30 * basic_sal
    print("HRA amount = ",hra)
    da = 0.90 * basic_sal
    print("DA amount = ",da)
    total_sal = basic_sal + hra + da
    print("Your salary after adding HRA and DA = ",total_sal)

elif basic_sal > 20000:
    hra = 0.35 * basic_sal
    print("HRA amount = ",hra)
    da = 0.95 * basic_sal
    print("DA amount = ",da)
    total_sal = basic_sal + hra + da
    print("Your salary after adding HRA and DA = ",total_sal)

Enter your basic salary amount 21000

HRA amount =  7349.999999999999
DA amount =  19950.0
Your salary after adding HRA and DA =  48300.0

##### Question No.3

In [59]:
'''
Write a Python program to input electricity unit charges and calculate total
electricity bill according to the given condition:
For first 50 units Rs. 0.50/unit
For next 100 units Rs. 0.75/unit
For next 100 units Rs. 1.25/unit
For unit above 250 Rs. 1.50/unit
An additional surcharge of 17% is added to the bill
'''
units = int(input("enter the number of unit"))
if units <= 50:
    total_bill = (50 * 0.50)
elif units <= 150:
    total_bill = (50 * 0.50) + (units - 50) * 0.75
elif units <= 250:
    total_bill = (50 * 0.50) + (100 * 0.75) + (units - 150) * 1.25
else:
    total_bill = (50 * 0.50) + (100 * 0.75) + (100 * 1.25) + (units - 250) * 1.50

surcharge = total_bill * 0.17
total_bill = total_bill + surcharge
print("total bill after adding surcharge = ",total_bill)

enter the number of unit 250

total bill after adding surcharge =  263.25

##### Question No.4

In [67]:
'''
Write a Python program to print the given number patterns.
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
'''
for i  in range(1,6):
    for j in range(i):
        print(i,end =" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

##### Question No.5

In [7]:
'''
Write a Python program to calculate product of digits of a number. Read
value of n from user.
'''
num = int(input("Enter the number"))
mul = 1
while num > 0:
    rem = num % 10
    mul = mul * rem
    num = num // 10
else:
    print(mul)

Enter the number 123456

720

##### Question No.6

In [54]:
'''
Create a list of elements like: x = [45, 67, 12, ‘Hello’, 23.45, ‘World’] and
perform following
operations
'''
x = [45, 67, 12, "Hello", 23.45, "World"]
#1. Extract only string values from this list.
x1 = []
for n in x:
    if type(n) == str:
        x1.append(n)
print(x1)   
#2. Create a new list with strings in upper case.
x2 = []
for n in x:
    if type(n) == str:
        x2.append(n.upper())
print(x2)
#3. Find the addition of integer values
sum = 0
for n in x:
    if type(n) == int:
        sum = sum + n
print(sum)
#4. Check that the value 56 is present in it or not.
print(56 in x)
#5. Print the list in reverse order.
print(x[::-1])
#6. Delete the string ‘Hello’ from it.
del x[3]
print(x)
#7. Insert a new value of 36 at 5th position in list.
x.insert(5,36)
print(x)
#8. Count total number of elements in list now.
print(len(x))
#9. Extract the values from 2nd index to 5th index.
print(x[2],x[5])
#10. Append [34, ‘Pune’] to this list.
x.append(34)
x.append("Pune")
print(x)
#11. Delete the last element from list.
del x[-1]
print(x)

['Hello', 'World']
['HELLO', 'WORLD']
124
False
['World', 23.45, 'Hello', 12, 67, 45]
[45, 67, 12, 23.45, 'World']
[45, 67, 12, 23.45, 'World', 36]
6
12 36
[45, 67, 12, 23.45, 'World', 36, 34, 'Pune']
[45, 67, 12, 23.45, 'World', 36, 34]

##### Question No.7

In [61]:
'''
Create a tuple of elements with 5 float values in it and perform following
operations.
'''
tup1 = (2.5,6.9,14.4,12.9,32.3)
#1. Print the data in sorted manner.
print(sorted(tup1))
#2. Check to see that the element 50 is present in it.
print(50 in tup1)
#3. Convert this tuple in set.
print(set(tup1))

[2.5, 6.9, 12.9, 14.4, 32.3]
False
{32.3, 2.5, 6.9, 12.9, 14.4}

##### Question No.8

In [82]:
'''
 Create a dictionary of elements: {‘a’: ‘apple’, ‘b’: ‘ball’, ‘c’: ‘cat’, ‘d’: ‘doll’, ‘k’:
‘king’} and
perform following operations.


'''
dict1 = {'a':"apple",'b':"ball",'c':"cat",'d':"doll",'k':"king"}
# 1. Access the data at key ‘k’.
print(dict1['k'])
# 2. Add a new values ‘z’: ‘zebra’
dict1['z'] = "zebra"
print(dict1)
#3. Replace the contents of ‘d’ as ‘dog’
dict1['d'] = "dog"
print(dict1)
#4. Print all the values from this dictionary.
print(dict1.values())
#5. Find the length of this dictionary.
print(len(dict1))

king
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}
dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])
6

##### Question No.9

In [ ]:
'''
9. Write a program to find the second largest element in a list
'''
List1 = [12,45,24,68,53,67,98,76]
List2 = sorted(List1, reverse = True)
print(List2)
second_largest = List2[1]
print("Second largest number is ",second_largest)

##### Question No.10

In [105]:
'''
This is a list of some metallic elements.
metals = [ 'silver','gold', ... ]
Make a new list that is almost identical to the metals list: the new
contains the same items, in the same order, except that it does NOT
contain the item 'copper'
'''
metals = ["silver","gold","platinum","copper","lead","iron","aluminium"]
metals1 = []
for n in metals:
    if n != "copper":
        metals1.append(n)

print(metals1)

['silver', 'gold', 'platinum', 'lead', 'iron', 'aluminium']