## Function

In [2]:
def show():
    print("hello")
    print("this is function")
show()

hello
this is function

In [4]:
# parameterized function
def square(n):
    result = n * n
    print("square is = ",result)
square(100)

square is =  10000

In [10]:
num = int(input("enter a number"))
square(num)

enter a number 7

square is =  49

In [20]:
# multi-parameterized function
def largest(a,b):
    if a>b:
        print("greater number is = ",a)
    elif a == b:
        print("equal")
    else:
        print("greater number is = ",b)

largest(10,199)

greater number is =  199

In [19]:
# write a function which will print a string n times 
def print_str(str,n):
    for i in range(n):
        print(str)

print_str("karan",9)

karan
karan
karan
karan
karan
karan
karan
karan
karan

In [23]:
# function for factorial
def facto(n):
    fact = 1
    i = 1
    for i in range(i,n+1):
        fact = fact * i
    return fact
facto(5)

120

In [3]:
# functions returning value
def square(n):
    result = n * n
    return result
square(5)

25

In [11]:
##  diiference between return and print
def add(a,b):
    result = a + b
    print(result)
add(10,20)

30

In [17]:
def add(a,b):
    result = a + b
    return result
print(add(10,20))
op  =  add(10,29)
print(op)

30
39

In [33]:
## multiple returns in one function
def largest(a,b):
    if a>b:
        return a
    elif a == b:
        return "equal"
    else:
        return b

print(largest(69,67))

69

In [65]:

def ncr(n,r):
    res =  facto(n)/ (facto(r) * facto(n-r))
    return res
print(ncr(10,3))

120.0

In [75]:
## multi return value 
def calc(n):
    sq = n*n
    cu = n*n*n
    return sq,cu
    
print(calc(5))

(25, 125)

In [79]:
n = int(input("enter the number"))
x , y = calc(n)
print("square", x)
print("cube", y)

enter the number 10

square 100
cube 1000

In [87]:
# dafault parameter
def add3(a = 5,b = 10,c = 20):
    result = a + b + c
    return result
print(add3())
print(add3(10,20,70))
print(add3(20,70))
print(add3(a = 10,c = 50))

35
100
110
70

In [89]:
def add3(a,b = 10,c = 20):
    result = a + b + c
    return result
print(add3(76))

106

In [105]:
# infinite number of args 
def in1(*args):
    for i in args:
        print(i, end = " ")
in1(98,43,56,857,89,3.0,"karan")

98 43 56 857 89 3.0 karan

In [107]:
# lambda function

square = lambda x:x*x
square(5)

25

In [109]:
# addition of two numbers using lambda 
add = lambda x,y:x+y
add(10,20)

30

In [123]:
# filtering list with lambda function
num = [34,24,234,789,123,64,67]
new = filter(lambda x : x > 40,num)
list(new)

[False, False, True, True, True, True, True]

In [121]:
# maping list wiht lambda function
num = [34,24,234,789,123,64,67]
new = map(lambda x : x/2,num)
list(new)

[17.0, 12.0, 117.0, 394.5, 61.5, 32.0, 33.5]

# Modules

In [131]:
import math
math.sqrt(100)

10.0

In [133]:
math.sin(30)

-0.9880316240928618

In [137]:
math.log(10)

2.302585092994046

In [147]:
# read radius and find area
r = int(input("enter the value of radius"))
area = math.pi*(r*r)
print(area)

enter the value of radius 5

78.53981633974483

In [149]:
import time
time.asctime()

'Mon Jun 10 12:10:23 2024'

In [153]:
print("karan")
time.sleep(4)
print("uth ja")

karan
uth ja

In [155]:
import math as m
m.pi

3.141592653589793

In [163]:
from math import sqrt,pi,e,sin# slective import
sqrt(16)

4.0

In [170]:
import mod1 as m
m.show1()

karan
hello