In [3]:
# print sum of 1 to 10
i = 1
sum = 0

while i <= 10:
    sum = sum + i
    i = i + 1

print("addtion of 1 to 10 numbers = ",sum)

addtion of 1 to 10 numbers =  55

In [5]:
# print the additon of all odd numbers from 1 to 20
i = 1
sum = 0

while i <= 20:
    if i%2!=0:
        sum = sum + i
    i = i+1

print(sum)

100

In [31]:
# factorial of any number
i = 1
n = int(input("enter the number for finding factorial = "))
fact = 1

while i <= n:
    fact  = fact * i
    i = i + 1
else:
    print("factorial is = ",fact)

enter the number for finding factorial =  5

factorial is =  120

In [41]:
# find the sum of digits in a number 
# ex 12345 => 1+2+3+4+5= 15

num = int(input("enter a number = "))
sum = 0
while num > 0:
    rem =  num % 10
    sum = sum + rem
    num = num // 10
else:
    print(sum)

enter a number =  091359873758

65

# for loop

In [63]:
for n in 12,13,14,15,16,17:
    print(n/2)

6
6
7
7
8
8

In [67]:
# range function
list(range(5,20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [79]:
list(range(4,21,2))
# range(start,end + 1,step)

[4, 6, 8, 10, 12, 14, 16, 18, 20]

In [83]:
for n in range(1,11):
    print(n,end = " ")

1 2 3 4 5 6 7 8 9 10

In [105]:
# addition of odd numbers from 1 to 20
sum = 0
print("odd numbers from 1 to 20:- ")
for n in range(1,21,2):
    print(n,end=" ")
    sum = sum + n
print("addition = ",sum)

odd numbers from 1 to 20:-
1 3 5 7 9 11 13 15 17 19 addition =  100

In [115]:
# print your name using for loop 10 times
for n in range(1,11):
    print(n,"your name ")

1 your name
2 your name
3 your name
4 your name
5 your name
6 your name
7 your name
8 your name
9 your name
10 your name

In [117]:
l1 = [12,46,85,124,57,1234,23]

for n in l1:
    print(n)

12
46
85
124
57
1234
23

In [5]:
# find factorial of a number.... take user input 
num = int(input("enter a number"))
fact = 1
for n in range(1,n+1):
    fact  = fact * n
print(fact)

enter a number 5

120

### break statement

In [7]:
for n in range(1,10):
    if n == 5:
        break
    print(n)

1
2
3
4

### continue

In [15]:
for n in range(1,10):
    if n == 5:
        continue
    print(n)

1
2
3
4
6
7
8
9

### pass

In [33]:
num = 5
if num < 10:
    pass

### nested loops

In [102]:
'''
*
**
***
''';
rows = int(input("enter the number of rows"))
for i in range(1,rows + 1):
    for j in range(i):
        print("*",end =" ")
    print()

enter the number of rows 12

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *