In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings("ignore")

In [7]:
df = pd.read_csv("Social_Network_Ads.csv")

In [ ]:
## Label Encoding

In [9]:
newdf = df.copy()

In [11]:
newdf.shape

(400, 5)

In [13]:
newdf.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [15]:
newdf["Gender"].value_counts()

Gender
Female    204
Male      196
Name: count, dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder

In [21]:
le = LabelEncoder()

In [23]:
newdf["Gender"] = le.fit_transform(newdf["Gender"])

In [27]:
newdf["Gender"].value_counts()

Gender
0    204
1    196
Name: count, dtype: int64

## One Hot Encoding

In [34]:
df = pd.get_dummies(df)

In [36]:
df

      User ID   Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0    15624510  19.0          19000.0          0          False         True
1    15810944  35.0          20000.0          0          False         True
2    15668575  26.0          43000.0          0           True        False
3    15603246  27.0          57000.0          0           True        False
4    15804002  19.0          76000.0          0          False         True
..        ...   ...              ...        ...            ...          ...
395  15691863  46.0          41000.0          1           True        False
396  15706071  51.0          23000.0          1          False         True
397  15654296  50.0          20000.0          1           True        False
398  15755018  36.0          33000.0          0          False         True
399  15594041  49.0          36000.0          1           True        False

[400 rows x 6 columns]